apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "pollapp.fullname" . }}-pvc
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    {{- include "pollapp.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
